<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Details</title>
</head>
<body>
   <h1>NLP App</h1>
   <h2>LOGIN</h2>

   {% if message %}
        <p>{{ message }}</p>
   {% endif %}

   <form action='/perform_login' method="post">
     <label>Email</label><br>
     <input type='email' name='user_ka_email' required><br>
     <label>Password</label><br>
     <input type='password' name='user_ka_password' required><br><br>
     <input type='submit' value='Login'><br><br>
   </form>

   <p>Not a member? <a href="/register">Register here</a></p>
</body>
</html>
